@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?58080350');
  src: url('fontello.eot?58080350#iefix') format('embedded-opentype'),
       url('fontello.woff2?58080350') format('woff2'),
       url('fontello.woff?58080350') format('woff'),
       url('fontello.ttf?58080350') format('truetype'),
       url('fontello.svg?58080350#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?58080350#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-close2:before { content: '\e801'; } /* '' */
.icon-fa:before { content: '\e802'; } /* '' */
.icon-circle2:before { content: '\e803'; } /* '' */
.icon-shou:before { content: '\e804'; } /* '' */
.icon-shouquan:before { content: '\e805'; } /* '' */
.icon-editor:before { content: '\e806'; } /* '' */
.icon-add-folders-kong:before { content: '\e807'; } /* '' */
.icon-check2-default:before { content: '\e808'; } /* '' */
.icon-drafts:before { content: '\e809'; } /* '' */
.icon-check-default:before { content: '\e80a'; } /* '' */
.icon-replace:before { content: '\e80b'; } /* '' */
.icon-replace-me:before { content: '\e80c'; } /* '' */
.icon-arrow:before { content: '\e80d'; } /* '' */
.icon-man:before { content: '\e80e'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-search2:before { content: '\e810'; } /* '' */
.icon-no-record:before { content: '\e811'; } /* '' */
.icon-no-record2:before { content: '\e812'; } /* '' */
.icon-no-certificate:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-group:before { content: '\e815'; } /* '' */
.icon-calendar:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-add-user:before { content: '\e81b'; } /* '' */
.icon-partner:before { content: '\e81c'; } /* '' */
.icon-mail-list:before { content: '\e81e'; } /* '' */
.icon-sign-out-1:before { content: '\e81f'; } /* '' */
.icon-picture:before { content: '\e820'; } /* '' */
.icon-u-key:before { content: '\e821'; } /* '' */
.icon-circle:before { content: '\e822'; } /* '' */
.icon-files:before { content: '\e823'; } /* '' */
.icon-folder:before { content: '\e824'; } /* '' */
.icon-open-folder:before { content: '\e825'; } /* '' */
.icon-add-folders:before { content: '\e827'; } /* '' */
.icon-file:before { content: '\e828'; } /* '' */
.icon-user:before { content: '\e829'; } /* '' */
.icon-download:before { content: '\e82c'; } /* '' */
.icon-check2:before { content: '\e82d'; } /* '' */
.icon-key:before { content: '\e82e'; } /* '' */
.icon-complete:before { content: '\e82f'; } /* '' */
.icon-left:before { content: '\e830'; } /* '' */
.icon-structure:before { content: '\e831'; } /* '' */
.icon-down:before { content: '\e832'; } /* '' */
.icon-reduce-folders:before { content: '\e833'; } /* '' */
.icon-warn:before { content: '\e834'; } /* '' */
.icon-sign:before { content: '\e835'; } /* '' */
.icon-send-person:before { content: '\e836'; } /* '' */
.icon-users:before { content: '\e837'; } /* '' */
.icon-square:before { content: '\e838'; } /* '' */
.icon-del:before { content: '\e839'; } /* '' */
.icon-add-signer2:before { content: '\e83a'; } /* '' */